@use '../abstracts' as *;
@use '../base' as *;

:root {
  --max-width: 80rem;
  --min-width: 17.5rem;
}

.container {
  margin-inline: auto;
  width: min(100% - var(--padding, 2rem), var(--max-width));
}

main {
  background-color: var(--clr-neutral-200);
}

/** 
  Title && Button to add new Post
*/
.title-container {
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--clr-neutral-800);
  color: var(--clr-neutral-100);
  height: 11.25rem;
  width: calc(100% - 11rem);
  min-width: var(--min-width);
  margin-inline: auto;
  padding-inline: min(5%, 2.5rem);
  border-radius: 20px;
  box-shadow: 0px 8px 8px var(--clr-neutral-300);
  &__title {
    font-size: var(--fs-900);
    white-space: nowrap;
  }
  &__button {
    width: min(100% - 2rem, 21rem);
    background-color: var(--clr-neutral-800);
    color: inherit;
    font-size: var(--fs-800);
    border: 3px solid var(--clr-primary-400);
    border-radius: 50px;
  }
}

/** 
  Posts
*/
.posts-wrapper {
  background-color: var(--clr-primary-400);
  min-height: 100%;
  margin-block-start: 5.5rem;
  // padding-block-start: 12rem;
}

.post {
  --margin-inline-start: 14rem;
  --max-width: 56.5rem;
  position: relative;
  background-color: var(--clr-neutral-200);
  width: clamp(var(--min-width), 65% + 5vw, var(--max-width, 56rem));
  margin-inline-start: min(20%, var(--margin-inline-start, 14rem));
  margin-inline-end: 4rem;
  padding-block-start: 2rem;
  padding-block-end: 1rem;

  box-shadow: 0px 8px 20px var(--clr-neutral-400);
  /** Likes  */
  &__likes {
    &-wrapper {
      position: absolute;
      left: calc((1.25rem + 2.8rem) * -1);
      top: 50%;
      transform: translateY(-50%);
      width: 2.8rem;
      height: 5.8rem;
      background-color: transparent;
      border: 2px solid var(--clr-primary-200);
      border-radius: 50px;
    }
    &-button {
      background-color: initial;
      border: none;
      width: 100%;
      outline-color: var(--clr-neutral-800);
      outline-offset: 0.15em;

      &:active {
        .post__likes-button-arrow {
          fill: var(--clr-neutral-100);
        }
      }
      &-arrow {
        fill: var(--clr-primary-200);
      }
    }
    &-counter {
      text-align: center;
      font-weight: bold;
      color: var(--clr-neutral-100);
    }
  }
  /** Content & Pseudonym */
  &__content {
    color: var(--clr-neutral-800);

    &-wrapper {
      padding-block-end: 4rem;
      padding-inline: 2.5rem;
    }
    &-pseudonym {
      font-weight: 600;
      margin-bottom: 1rem;
    }
  }
  /** Reply Button */

  &__reply-button {
    &-wrapper {
      padding-block: 1rem;
      float: right;
      width: min(100% - 2rem, 9.5rem);
    }
    width: 100%;
    height: 3rem;
    border: 3px solid var(--clr-primary-400);
    background-color: transparent;
    border-radius: 50px;
  }
}

.post + .post {
  margin-block-start: 3rem;
}
.post__reply-wrapper {
  --margin-start: 7rem;
  --max-width: calc(100% - var(--margin-start));
  width: min(100% - 2rem, var(--max-width));
  margin-block: 3rem;
  margin-inline-start: var(--margin-start);
  .post {
    --max-width: 49.5rem;
    // --margin-inline-start: 7rem;
  }
}

/** 
  Modal - Dialog
*/
.dialog-wrapper {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  z-index: 2;
  background-color: rgba(#141c3a, 0.88);
}
.dialog {
  form {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-inline: auto;
    width: min(100% - 1rem, 40rem);
  }
  padding-block: 7rem;
  width: min(100% - 1rem, 60rem);
  height: min(100% - 1rem, 44rem);
  background-color: var(--clr-neutral-200);
  box-shadow: 0px 10px 20px var(--clr-neutral-400);
  &__input {
    input,
    textarea {
      font-size: var(--fs-600);
      font-weight: 600;
      padding-inline: 2.5rem;
      border: 3px solid var(--clr-primary-400);
      border-radius: 50px;
      background-color: var(--clr-neutral-200);
      color: var(--clr-neutral-800);
      box-shadow: none;
      width: 100%;
      &::placeholder {
        color: var(--clr-neutral-600);
        font-size: var(fs-500);
      }
      &:focus {
        background-color: var(--clr-neutral-100);
        box-shadow: 0px 10px 20px var(--clr-neutral-400);
      }
    }
    input {
      padding-block: 1rem;
    }
    textarea {
      height: 15rem;
      resize: none;
      padding-block: 2.5rem;
    }
  }
  button {
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-100);
    border-radius: 50px;
    width: 18rem;
    height: 5rem;
    font-size: var(--fs-800);
    text-align: center;
  }
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
